In [96]:
import numpy as np
import pandas as pd
import datetime
import random
import seaborn as sns
from scipy.stats import skew
from scipy.special import boxcox1p
from scipy.stats import boxcox_normmax

In [97]:
train = pd.read_csv('input/train.csv')
test = pd.read_csv('input/test.csv')
train.shape, test.shape

((1460, 81), (1459, 80))

In [98]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [99]:
print('Missing in train : ', train.isna().sum().sum())
print('Missing in test : ', test.isna().sum().sum())

Missing in train :  6965
Missing in test :  7000

In [100]:
set(train.dtypes.values) # unique data types

{dtype('int64'), dtype('float64'), dtype('O')}

In [101]:
numeric_dtypes = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

In [102]:
train_id = train['Id']
test_id = test['Id']
train.drop('Id', axis = 1, inplace = True)
test.drop('Id', axis = 1, inplace = True)
train.shape, test.shape

((1460, 80), (1459, 79))

In [103]:
train['SalePrice'] = np.log1p(train['SalePrice'])

In [104]:
train[(train['OverallQual']<5) & (train['SalePrice']>200000)]

Empty DataFrame
Columns: [MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice]
Index: []

[0 rows x 80 columns]

In [105]:
train[(train['GrLivArea']>4500) & (train['SalePrice']<300000)]

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
523,60,RL,130.0,40094,Pave,NaN,IR1,Bnk,AllPub,Inside,...,0,NaN,NaN,NaN,0,10,2007,New,Partial,12.126764
1298,60,RL,313.0,63887,Pave,NaN,IR3,Bnk,AllPub,Corner,...,480,Gd,NaN,NaN,0,1,2008,New,Partial,11.982935

In [106]:
train.drop(train[(train['GrLivArea']>4500) & (train['SalePrice']<300000)].index, inplace = True)

In [107]:
train.reset_index(drop = True, inplace = True)

In [108]:
train_labels = train['SalePrice'].reset_index(drop = True)
train_features = train.drop(['SalePrice'], axis = 1)
test_features = test

all_features = pd.concat([train_features, test_features]).reset_index(drop = True)
train_features.shape, test_features.shape, all_features.shape

((1458, 79), (1459, 79), (2917, 79))

In [109]:
def missing_data(df):
    data = df.isna().sum()
    rows = df.shape[0]
    missing = (data / rows * 100).sort_values(ascending = False)
    print(missing[:10])
    
missing_data(all_features)

PoolQC          99.691464
MiscFeature     96.400411
Alley           93.212204
Fence           80.425094
FireplaceQu     48.680151
LotFrontage     16.660953
GarageYrBlt      5.450806
GarageFinish     5.450806
GarageQual       5.450806
GarageCond       5.450806
dtype: float64

In [110]:
all_features

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
2913,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
2914,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
2915,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
2916,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [111]:
print('Current missing values = ', all_features.isna().sum().sum())

Current missing values =  13958

In [112]:
# Some of the non-numeric predictors are stored as numbers; convert them into strings 
all_features['MSSubClass'] = all_features['MSSubClass'].apply(str)
all_features['YrSold'] = all_features['YrSold'].astype(str)
all_features['MoSold'] = all_features['MoSold'].astype(str)

In [113]:
def handle_missing(data):
    features = data
    features['Functional'] = features['Functional'].fillna('Typ')
    features['Electrical'] = features['Electrical'].fillna('SBrkr')
    features['KitchenQual'] = features['KitchenQual'].fillna('TA')
    
    features['Exterior1st'] = features['Exterior1st'].fillna(features['Exterior1st'].mode()[0])
    features['Exterior2nd'] = features['Exterior2nd'].fillna(features['Exterior2nd'].mode()[0])
    features['SaleType'] = features['SaleType'].fillna(features['SaleType'].mode()[0])
    
    features['MSZoning'] = features.groupby('MSSubClass')['MSZoning'].transform(lambda x: x.fillna(x.mode()[0]))
    features['PoolQC'] = features['PoolQC'].fillna('None')
    
    for col in ('GarageYrBlt', 'GarageArea', 'GarageCars'):
        features[col] = features[col].fillna(0)
    
    for col in ['GarageType', 'GarageFinish', 'GarageQual', 'GarageCond']:
        features[col] = features[col].fillna('None')
    
    for col in ('BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2'):
        features[col] = features[col].fillna('None')
    
    features['LotFrontage'] = features.groupby('Neighborhood')['LotFrontage'].transform(lambda x: x.fillna(x.median()))
    
    objects = []
    for i in features.columns:
        if features[i].dtype == object:
            objects.append(i)
    features.update(features[objects].fillna('None'))

    numeric_dtypes = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    numeric = []
    for i in features.columns:
        if features[i].dtype in numeric_dtypes:
            numeric.append(i)
    features.update(features[numeric].fillna(0))
    
    return features

In [114]:
cp = all_features
cp = handle_missing(cp)

In [115]:
missing_data(cp)

MSSubClass      0.0
BedroomAbvGr    0.0
GarageType      0.0
FireplaceQu     0.0
Fireplaces      0.0
Functional      0.0
TotRmsAbvGrd    0.0
KitchenQual     0.0
KitchenAbvGr    0.0
HalfBath        0.0
dtype: float64

In [116]:
all_features = cp

In [117]:
missing_data(all_features)

MSSubClass      0.0
BedroomAbvGr    0.0
GarageType      0.0
FireplaceQu     0.0
Fireplaces      0.0
Functional      0.0
TotRmsAbvGrd    0.0
KitchenQual     0.0
KitchenAbvGr    0.0
HalfBath        0.0
dtype: float64

In [118]:
# Fetch all numeric features
numeric_dtypes = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numeric = []
for i in all_features.columns:
    if all_features[i].dtype in numeric_dtypes:
        numeric.append(i)

In [119]:
skew_features = all_features[numeric].apply(lambda x: skew(x)).sort_values(ascending=False)

high_skew = skew_features[skew_features > 0.5]
skew_index = high_skew.index

print("There are {} numerical features with Skew > 0.5 :".format(high_skew.shape[0]))
skewness = pd.DataFrame({'Skew' :high_skew})
skew_features.head(10)

There are 25 numerical features with Skew > 0.5 :

MiscVal          21.939672
PoolArea         17.688664
LotArea          13.109495
LowQualFinSF     12.084539
3SsnPorch        11.372080
KitchenAbvGr      4.300550
BsmtFinSF2        4.144503
EnclosedPorch     4.002344
ScreenPorch       3.945101
BsmtHalfBath      3.929996
dtype: float64

In [120]:
# Normalize skewed features
for i in skew_index:
    all_features[i] = boxcox1p(all_features[i], boxcox_normmax(all_features[i] + 1))

/home/nachiket/.local/lib/python3.8/site-packages/scipy/stats/stats.py:3913: PearsonRConstantInputWarning: An input array is constant; the correlation coefficent is not defined.
  warnings.warn(PearsonRConstantInputWarning())
/home/nachiket/.local/lib/python3.8/site-packages/scipy/stats/stats.py:3943: PearsonRNearConstantInputWarning: An input array is nearly constant; the computed correlation coefficent may be inaccurate.
  warnings.warn(PearsonRNearConstantInputWarning())

In [121]:
all_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2917 entries, 0 to 2916
Data columns (total 79 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     2917 non-null   object
 1   MSZoning       2917 non-null   object
 2   LotFrontage    2917 non-null   float64
 3   LotArea        2917 non-null   float64
 4   Street         2917 non-null   object
 5   Alley          2917 non-null   object
 6   LotShape       2917 non-null   object
 7   LandContour    2917 non-null   object
 8   Utilities      2917 non-null   object
 9   LotConfig      2917 non-null   object
 10  LandSlope      2917 non-null   object
 11  Neighborhood   2917 non-null   object
 12  Condition1     2917 non-null   object
 13  Condition2     2917 non-null   object
 14  BldgType       2917 non-null   object
 15  HouseStyle     2917 non-null   object
 16  OverallQual    2917 non-null   int64
 17  OverallCond    2917 non-null   float64
 18  YearBuilt      2917 non-null   int64
 19  YearRemodAdd   2917 non-null   int64
 20  RoofStyle      2917 non-null   object
 21  RoofMatl       2917 non-null   object
 22  Exterior1st    2917 non-null   object
 23  Exterior2nd    2917 non-null   object
 24  MasVnrType     2917 non-null   object
 25  MasVnrArea     2917 non-null   float64
 26  ExterQual      2917 non-null   object
 27  ExterCond      2917 non-null   object
 28  Foundation     2917 non-null   object
 29  BsmtQual       2917 non-null   object
 30  BsmtCond       2917 non-null   object
 31  BsmtExposure   2917 non-null   object
 32  BsmtFinType1   2917 non-null   object
 33  BsmtFinSF1     2917 non-null   float64
 34  BsmtFinType2   2917 non-null   object
 35  BsmtFinSF2     2917 non-null   float64
 36  BsmtUnfSF      2917 non-null   float64
 37  TotalBsmtSF    2917 non-null   float64
 38  Heating        2917 non-null   object
 39  HeatingQC      2917 non-null   object
 40  CentralAir     2917 non-null   object
 41  Electrical     2917 non-null   object
 42  1stFlrSF       2917 non-null   float64
 43  2ndFlrSF       2917 non-null   float64
 44  LowQualFinSF   2917 non-null   float64
 45  GrLivArea      2917 non-null   float64
 46  BsmtFullBath   2917 non-null   float64
 47  BsmtHalfBath   2917 non-null   float64
 48  FullBath       2917 non-null   int64
 49  HalfBath       2917 non-null   float64
 50  BedroomAbvGr   2917 non-null   int64
 51  KitchenAbvGr   2917 non-null   float64
 52  KitchenQual    2917 non-null   object
 53  TotRmsAbvGrd   2917 non-null   float64
 54  Functional     2917 non-null   object
 55  Fireplaces     2917 non-null   float64
 56  FireplaceQu    2917 non-null   object
 57  GarageType     2917 non-null   object
 58  GarageYrBlt    2917 non-null   float64
 59  GarageFinish   2917 non-null   object
 60  GarageCars     2917 non-null   float64
 61  GarageArea     2917 non-null   float64
 62  GarageQual     2917 non-null   object
 63  GarageCond     2917 non-null   object
 64  PavedDrive     2917 non-null   object
 65  WoodDeckSF     2917 non-null   float64
 66  OpenPorchSF    2917 non-null   float64
 67  EnclosedPorch  2917 non-null   float64
 68  3SsnPorch      2917 non-null   float64
 69  ScreenPorch    2917 non-null   float64
 70  PoolArea       2917 non-null   float64
 71  PoolQC         2917 non-null   object
 72  Fence          2917 non-null   object
 73  MiscFeature    2917 non-null   object
 74  MiscVal        2917 non-null   float64
 75  MoSold         2917 non-null   object
 76  YrSold         2917 non-null   object
 77  SaleType       2917 non-null   object
 78  SaleCondition  2917 non-null   object
dtypes: float64(28), int64(5), object(46)
memory usage: 1.8+ MB

In [122]:
set(all_features.dtypes)

{dtype('int64'), dtype('float64'), dtype('O')}

In [123]:
all_features['BsmtFinType1_Unf'] = 1*(all_features['BsmtFinType1'] == 'Unf')
all_features['HasWoodDeck'] = (all_features['WoodDeckSF'] == 0) * 1
all_features['HasOpenPorch'] = (all_features['OpenPorchSF'] == 0) * 1
all_features['HasEnclosedPorch'] = (all_features['EnclosedPorch'] == 0) * 1
all_features['Has3SsnPorch'] = (all_features['3SsnPorch'] == 0) * 1
all_features['HasScreenPorch'] = (all_features['ScreenPorch'] == 0) * 1
all_features['YearsSinceRemodel'] = all_features['YrSold'].astype(int) - all_features['YearRemodAdd'].astype(int)
all_features['Total_Home_Quality'] = all_features['OverallQual'] + all_features['OverallCond']
all_features = all_features.drop(['Utilities', 'Street', 'PoolQC',], axis=1)
all_features['TotalSF'] = all_features['TotalBsmtSF'] + all_features['1stFlrSF'] + all_features['2ndFlrSF']
all_features['YrBltAndRemod'] = all_features['YearBuilt'] + all_features['YearRemodAdd']

all_features['Total_sqr_footage'] = (all_features['BsmtFinSF1'] + all_features['BsmtFinSF2'] +
                                 all_features['1stFlrSF'] + all_features['2ndFlrSF'])
all_features['Total_Bathrooms'] = (all_features['FullBath'] + (0.5 * all_features['HalfBath']) +
                               all_features['BsmtFullBath'] + (0.5 * all_features['BsmtHalfBath']))
all_features['Total_porch_sf'] = (all_features['OpenPorchSF'] + all_features['3SsnPorch'] +
                              all_features['EnclosedPorch'] + all_features['ScreenPorch'] +
                              all_features['WoodDeckSF'])
all_features['TotalBsmtSF'] = all_features['TotalBsmtSF'].apply(lambda x: np.exp(6) if x <= 0.0 else x)
all_features['2ndFlrSF'] = all_features['2ndFlrSF'].apply(lambda x: np.exp(6.5) if x <= 0.0 else x)
all_features['GarageArea'] = all_features['GarageArea'].apply(lambda x: np.exp(6) if x <= 0.0 else x)
all_features['GarageCars'] = all_features['GarageCars'].apply(lambda x: 0 if x <= 0.0 else x)
all_features['LotFrontage'] = all_features['LotFrontage'].apply(lambda x: np.exp(4.2) if x <= 0.0 else x)
all_features['MasVnrArea'] = all_features['MasVnrArea'].apply(lambda x: np.exp(4) if x <= 0.0 else x)
all_features['BsmtFinSF1'] = all_features['BsmtFinSF1'].apply(lambda x: np.exp(6.5) if x <= 0.0 else x)

all_features['haspool'] = all_features['PoolArea'].apply(lambda x: 1 if x > 0 else 0)
all_features['has2ndfloor'] = all_features['2ndFlrSF'].apply(lambda x: 1 if x > 0 else 0)
all_features['hasgarage'] = all_features['GarageArea'].apply(lambda x: 1 if x > 0 else 0)
all_features['hasbsmt'] = all_features['TotalBsmtSF'].apply(lambda x: 1 if x > 0 else 0)
all_features['hasfireplace'] = all_features['Fireplaces'].apply(lambda x: 1 if x > 0 else 0)

In [124]:
def logs(res, ls):
    m = res.shape[1]
    for l in ls:
        res = res.assign(newcol=pd.Series(np.log(1.01+res[l])).values)   
        res.columns.values[m] = l + '_log'
        m += 1
    return res

log_features = ['LotFrontage','LotArea','MasVnrArea','BsmtFinSF1','BsmtFinSF2','BsmtUnfSF',
                 'TotalBsmtSF','1stFlrSF','2ndFlrSF','LowQualFinSF','GrLivArea',
                 'BsmtFullBath','BsmtHalfBath','FullBath','HalfBath','BedroomAbvGr','KitchenAbvGr',
                 'TotRmsAbvGrd','Fireplaces','GarageCars','GarageArea','WoodDeckSF','OpenPorchSF',
                 'EnclosedPorch','3SsnPorch','ScreenPorch','PoolArea','MiscVal','YearRemodAdd','TotalSF']

all_features = logs(all_features, log_features)

In [125]:
def squares(res, ls):
    m = res.shape[1]
    for l in ls:
        res = res.assign(newcol=pd.Series(res[l]*res[l]).values)   
        res.columns.values[m] = l + '_sq'
        m += 1
    return res 

squared_features = ['YearRemodAdd', 'LotFrontage_log', 
              'TotalBsmtSF_log', '1stFlrSF_log', '2ndFlrSF_log', 'GrLivArea_log',
              'GarageCars_log', 'GarageArea_log']
all_features = squares(all_features, squared_features)

In [126]:
all_features = pd.get_dummies(all_features).reset_index(drop = True)

In [127]:
all_features.shape

(2917, 379)

In [128]:
all_features.head()

,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,18.144572,13.833054,7,3.991517,2003,2003,19.433172,144.117863,0.0,29.991062,...,0,0,0,1,0,0,0,0,1,0
1,20.673624,14.117918,6,6.000033,1976,1976,54.598150,181.719186,0.0,44.135426,...,0,0,0,1,0,0,0,0,1,0
2,18.668046,14.476513,7,3.991517,2001,2002,17.768838,110.441034,0.0,56.896551,...,0,0,0,1,0,0,0,0,1,0
3,17.249650,14.106197,7,3.991517,1915,1970,54.598150,61.795315,0.0,64.808876,...,0,0,0,1,1,0,0,0,0,0
4,21.314282,15.022008,8,3.991517,2000,2000,25.404161,136.624601,0.0,61.166396,...,0,0,0,1,0,0,0,0,1,0

In [129]:
all_features = all_features.loc[:,~all_features.columns.duplicated()]

In [130]:
all_features.shape

(2917, 378)

In [131]:
ntrain = train.shape[0]
X = all_features[:ntrain]
X_test = all_features[ntrain:]

In [132]:
X.shape, train_labels.shape, X_test.shape

((1458, 378), (1458,), (1459, 378))

In [133]:
X_train = X
y_train = train_labels
X_test = X_test

In [134]:
X_train.shape, y_train.shape, X_test.shape

((1458, 378), (1458,), (1459, 378))

In [135]:
X_train.to_csv('clean_data/X_train.csv', index = False)
y_train.to_csv('clean_data/y_train.csv', index = False)
X_test.to_csv('clean_data/X_test.csv', index = False)